$colors: (
    default:(
        10: hsl(234, 87%, 66%),
        20: hsl(227, 100%, 68%),
        30: hsl(216, 100%, 68%),
        40: hsl(188, 71%, 69%),
        50: hsl(191, 53%, 49%),
        60: hsl(185, 87%, 27%),
        70: hsl(260, 36%, 33%),
        80: hsl(263, 49%, 66%),
        90: hsl(257, 74%, 65%),
        100:hsl(253, 70%, 59%)
    ),
    scrollbar:(
        10: hsl(220, 56%, 66%),
        20: hsl(213, 47%, 51%),
        30: hsl(225, 68%, 35%)
    )
);